body {
  background-color: #000;
  color: white;
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between; /* espace entre le titre et le menu */
  align-items: center; /* centre verticalement */
  background: linear-gradient(rgb(241, 173, 15), rgb(24, 22, 22));
  padding: 10px 30px;
}

h1 {
  margin: 0;
}

/* Liste de navigation à droite */
ul {
  list-style: none; /* enlève les puces */
  display: flex;
  gap: 20px; /* espace entre les éléments */
  margin: 0;
  padding: 0;
}

/* Liens du menu */
li {
  transition: color 1s;
}

.tour li a:hover {
  color: rgb(255, 0, 0);
}

/* Hera Palace partie */

.tour {
  margin-top: 5%;
  padding: 20px;
  position: relative; /* permet de placer le texte par-dessus */
}

.tour li a {
  text-decoration: none;
  color: gold;
}

.tour li {
  list-style: none;
  margin-bottom: -1%;
}

.tour h2 {
  color: gold;
}
.penthouse-img {
  text-align: center;
  width: 100%;
  border-radius: 10px; /* arrondi l'image du penthouse */
}

.resume {
  margin-top: 5%;
  margin-bottom: 5%;
}
.resume h2 {
  color: gold;
  margin-left: 8%;
}
.resume p {
  margin-left: 8%;
  min-width: 600px;
  max-width: 600px;
}

.pent-jaune {
  color: gold;
}

.resume h3 {
  margin-left: 8%;
  color: gold;
}

.resume a {
  color: gold;
  text-decoration: none;
}

.resume a:hover {
  color: cyan;
}

/* placement de l'image */
.img-seol-a {
  margin-left: 60%;
  margin-top: -10%;
}

.img-seol-a img {
  border-radius: 10px;
}
/*                      */
/* box des personnages*/
/*                  */
.perso h2 {
  margin-left: 8%;
  color: gold;
  font-size: 30px;
  font-style: oblique;
  text-decoration: underline;
}

.personnages-container {
  display: flex; /* Active Flexbox */
  justify-content: flex-start; /* Commence l'alignement à gauche */
  margin-left: 8%; /* Aligne avec le titre h2 */
  gap: 110px; /* Ajoute un espacement entre les cartes (facultatif, mais recommandé) */
  margin-top: 1%;
  border-radius: 10px;
}

.personnage-carte {
  display: flex;
  flex-direction: column; /* Empile le nom et l'image verticalement */
  align-items: center; /* Centre les éléments horizontalement */
}

.nom-perso {
  color: rgb(255, 255, 255); /* Couleur d'or pour le nom */
  font-style: oblique;
  font-style: bold;
  font-size: 20px;
  margin: 10px 0 5px 0; /* Marge au-dessus et en dessous (plus petit en bas) */
  text-align: center;
}

.nom-perso a {
  text-decoration: none;
  color: white;
}

.nom-perso a:hover {
  color: gold;
}

/* qd je passe sur le prenom des prsng et leur description ca passe en jaune */
.personnage-carte p:hover {
  color: gold;
}

.personnage-carte img {
  border: 3px solid rgb(73, 73, 73);
  border-radius: 16px;
}

.description-perso {
  display: flex;
  margin-left: 8%;
  gap: 130px;
}
.description-perso p {
  /* couleur */
  border: 3px solid rgb(73, 73, 73);
  border-radius: 10px;

  color: rgb(255, 255, 255);

  /* pr centrer le txt et qu'il prenne tt la place de la box */
  display: flex;
  text-align: center;
  align-items: center;

  /* alignement du txt */
  min-width: 230px;
  max-width: 230px;
  min-height: 100px;
  max-height: 100px;
}
